/* line 1, ../../sass/base/variable.scss */
:root {
  --classic-bg-white: #fff;
  --classic-color-text: #222330;
  --classic-bg-menu: #bad7fc;
  --classic-bg-background: #7eb7ff61;
  --classic-border-grey: var(--classic-bg-white);
  --classic-green-bg: #8bc34a;
  --classic-green-bg-hover: #d4edb7;
  --classic-green-text: #8bc34a;
  --classic-green-hover-text: #4caf50;
  --classic-light-green-hover: #d4edb7;
  --classic-shadow-grey: #b3b3b3;
  --classic-font-size-xxs: .75rem;
  --classic-font-size-s: .875rem;
  --classic-font-size: 1rem;
  --classic-font-size-m: var(--classic-font-size);
  --classic-font-size-l: 1.125rem;
  --classic-font-size-xl: 1.25rem;
  --classic-font-size-h3: 1.5rem;
  --classic-font-size-h2: 1.75rem;
  --classic-font-size-h1: 1.6rem;
  --classic-font-weight-normal: 400;
  --classic-font-weight-semibold: 600;
  --classic-font-weight-bold: 700;
  --classic-waring-message: #927001;
  --classic-status-message: #1a4727;
  --classic-error-message: #6f0101;
}

/* line 4, ../../sass/component/admin_toolbar.scss */
#toolbar-administration .home-toolbar-tab,
#toolbar-administration .home-toolbar-tab + .toolbar-tab > .toolbar-icon,
#toolbar-administration .home-toolbar-tab + .toolbar-tab + .toolbar-tab,
#toolbar-administration .tour-toolbar-tab + .toolbar-tab,
#toolbar-administration .tour-toolbar-tab {
  display: none;
}
/* line 11, ../../sass/component/admin_toolbar.scss */
#toolbar-administration .toolbar-toggle-orientation {
  display: none !important;
}

/* line 15, ../../sass/component/admin_toolbar.scss */
.toolbar-horizontal .toolbar-tray {
  box-shadow: none;
  border: none;
}

/* line 19, ../../sass/component/admin_toolbar.scss */
.toolbar-tray-open.toolbar-horizontal.toolbar-fixed {
  padding-left: 4.5rem;
  padding-top: 0 !important;
}

/* line 23, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration {
  display: flex;
  position: fixed;
  top: auto;
  width: 4.5rem;
  height: 100vh;
  max-width: calc(100% - 2.4375rem);
  background: var(--classic-bg-background);
  transition: all 0.3 ease-in-out;
  padding-top: 1.5rem;
  border-right: 1px solid #ddd;
}
/* line 34, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration > .toolbar-menu {
  align-self: flex-start;
  height: 100%;
  max-height: calc(100% - 4.125rem);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: transparent;
  width: 4rem;
}
/* line 45, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration > .toolbar-menu > li.menu-item {
  border: none !important;
  background: transparent;
  padding: 10px 0;
}
/* line 49, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration > .toolbar-menu > li.menu-item > .toolbar-icon {
  font-size: var(--classic-font-size);
  font-weight: var(--classic-font-weight-normal);
  letter-spacing: -0.0125rem;
  color: var(--classic-color-text);
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
  overflow: hidden;
  padding-right: 0;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  padding-left: 3rem;
}
/* line 64, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration > .toolbar-menu > li.menu-item > .toolbar-icon::before {
  width: 1.5rem;
  left: 50%;
  margin-left: -10px;
}
/* line 69, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration > .toolbar-menu > li.menu-item > .toolbar-icon:hover {
  background: var(--classic-bg-background);
}
/* line 71, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration > .toolbar-menu > li.menu-item > .toolbar-icon:hover::before {
  filter: brightness(2);
}
/* line 77, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration > .toolbar-menu .toolbar-menu {
  background: --classic-bg-white;
}
/* line 79, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration > .toolbar-menu .toolbar-menu > .menu-item--expanded {
  background-color: --classic-bg-white;
}
/* line 82, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration > .toolbar-menu .toolbar-menu > .menu-item {
  border: none;
  border-bottom: 1px solid var(--classic-bg-background);
  margin-right: 0.5rem;
}
/* line 86, ../../sass/component/admin_toolbar.scss */
.toolbar-menu-administration > .toolbar-menu .toolbar-menu > .menu-item:first-child {
  border-top: none;
}

/* line 95, ../../sass/component/admin_toolbar.scss */
.toolbar-menu li.menu-item--expanded.hover-intent ul {
  left: 65px;
  top: 0;
  position: fixed;
  height: 100%;
  padding-top: 1.5rem;
}
/* line 101, ../../sass/component/admin_toolbar.scss */
.toolbar-menu li.menu-item--expanded.hover-intent ul li.menu-item--expanded ul {
  margin-top: 0;
}

/* line 107, ../../sass/component/admin_toolbar.scss */
.toolbar .toolbar-bar {
  box-shadow: none;
  border: none;
}

/* line 112, ../../sass/component/admin_toolbar.scss */
.menuIcon {
  position: absolute;
  top: 10px;
  right: 15px;
  display: none;
}
/* line 117, ../../sass/component/admin_toolbar.scss */
.menuIcon .bar1,
.menuIcon .bar2,
.menuIcon .bar3 {
  width: 35px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* line 129, ../../sass/component/admin_toolbar.scss */
.slideMenu .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
/* line 132, ../../sass/component/admin_toolbar.scss */
.slideMenu .bar2 {
  opacity: 0;
}
/* line 133, ../../sass/component/admin_toolbar.scss */
.slideMenu .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media only screen and (max-width: 1023px) {
  /* line 139, ../../sass/component/admin_toolbar.scss */
  .toolbar .toolbar-tray-vertical {
    background-color: transparent;
    box-shadow: none;
    border: none;
    position: relative;
    overflow: hidden;
  }

  /* line 146, ../../sass/component/admin_toolbar.scss */
  body {
    padding-top: 60px !important;
  }

  /* line 149, ../../sass/component/admin_toolbar.scss */
  .menuIcon {
    display: block;
  }

  /* line 152, ../../sass/component/admin_toolbar.scss */
  .toolbar-menu-administration {
    width: 20rem;
    display: block;
    background: var(--classic-bg-background);
  }

  /* line 157, ../../sass/component/admin_toolbar.scss */
  .toolbar-menu-administration > .toolbar-menu > li.menu-item {
    width: auto;
  }

  /* line 160, ../../sass/component/admin_toolbar.scss */
  .toolbar-menu-administration {
    width: 14rem;
  }
  /* line 162, ../../sass/component/admin_toolbar.scss */
  .toolbar-menu-administration > .toolbar-menu {
    width: 14rem;
  }

  /* line 166, ../../sass/component/admin_toolbar.scss */
  body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
    margin-left: 0;
  }

  /* line 169, ../../sass/component/admin_toolbar.scss */
  .toolbar .toolbar-tray-vertical.is-active, body.toolbar-fixed .toolbar .toolbar-tray-vertical {
    left: -100%;
  }

  /* line 173, ../../sass/component/admin_toolbar.scss */
  .slideMenu.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
    margin-left: 15rem;
  }
  /* line 176, ../../sass/component/admin_toolbar.scss */
  .slideMenu .toolbar .toolbar-tray-vertical.is-active, .slideMenu body.toolbar-fixed .toolbar .toolbar-tray-vertical {
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 183, ../../sass/component/admin_toolbar.scss */
  .slideMenu .toolbar-oriented .toolbar-tray-vertical {
    left: 0;
    display: block;
  }
}
