/* line 1, ../../sass/base/variable.scss */
:root {
  --classic-bg-white: #fff;
  --classic-color-text: #222330;
  --classic-bg-menu: #bad7fc;
  --classic-bg-background: #7eb7ff61;
  --classic-border-grey: var(--classic-bg-white);
  --classic-green-bg: #8bc34a;
  --classic-green-bg-hover: #d4edb7;
  --classic-green-text: #8bc34a;
  --classic-green-hover-text: #4caf50;
  --classic-light-green-hover: #d4edb7;
  --classic-shadow-grey: #b3b3b3;
  --classic-font-size-xxs: .75rem;
  --classic-font-size-s: .875rem;
  --classic-font-size: 1rem;
  --classic-font-size-m: var(--classic-font-size);
  --classic-font-size-l: 1.125rem;
  --classic-font-size-xl: 1.25rem;
  --classic-font-size-h3: 1.5rem;
  --classic-font-size-h2: 1.75rem;
  --classic-font-size-h1: 1.6rem;
  --classic-font-weight-normal: 400;
  --classic-font-weight-semibold: 600;
  --classic-font-weight-bold: 700;
  --classic-waring-message: #927001;
  --classic-status-message: #1a4727;
  --classic-error-message: #6f0101;
}

/* line 3, ../../sass/component/form.scss */
a,
.link {
  color: var(--classic-color-text);
  transition: all 0.3s ease-in-out;
}
/* line 7, ../../sass/component/form.scss */
a:hover, a:focus,
.link:hover,
.link:focus {
  color: var(--classic-color-text);
}

/* line 13, ../../sass/component/form.scss */
input[type="checkbox"]:checked {
  border-color: var(--classic-bg-background);
  background-color: var(--classic-bg-background);
  transition: all 0.3s ease-in-out;
}
/* line 17, ../../sass/component/form.scss */
input[type="checkbox"]:checked:hover, input[type="checkbox"]:checked:focus {
  background-color: var(--classic-bg-background);
  box-shadow: none;
  border: none;
}

/* line 25, ../../sass/component/form.scss */
.button.button--primary {
  border-color: var(--classic-bg-background);
  background-color: var(--classic-bg-background);
  transition: all 0.3s ease-in-out;
  color: var(--classic-color-text);
}
/* line 30, ../../sass/component/form.scss */
.button.button--primary:hover, .button.button--primary:focus {
  background-color: var(--classic-bg-background);
  box-shadow: none;
  border: none;
  color: var(--classic-color-text);
}

/* line 40, ../../sass/component/form.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-color: var(--classic-bg-background);
  background-color: var(--classic-bg-background);
  color: var(--classic-bg-white);
  transition: all 0.3s ease-in-out;
}
/* line 48, ../../sass/component/form.scss */
button:hover, button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: var(--classic-bg-background);
  color: var(--classic-color-text);
}
