/* line 2, ../../sass/component/message.scss */
.messages-list .messages--warning {
  background-color: var(--classic-waring-message);
}
/* line 5, ../../sass/component/message.scss */
.messages-list .messages--status {
  background-color: var(--classic-status-message);
}
/* line 8, ../../sass/component/message.scss */
.messages-list .messages--error {
  background-color: var(--classic-error-message);
}
