@import "base/variable";

#toolbar-administration {
	.home-toolbar-tab,
	.home-toolbar-tab + .toolbar-tab > .toolbar-icon,
	.home-toolbar-tab + .toolbar-tab + .toolbar-tab,
	.tour-toolbar-tab + .toolbar-tab,
  .tour-toolbar-tab {
		display: none;
	}
	.toolbar-toggle-orientation {
		display: none !important;
	}
}
.toolbar-horizontal .toolbar-tray {
	box-shadow: none;
	border: none;
}
.toolbar-tray-open.toolbar-horizontal.toolbar-fixed {
	padding-left: 4.5rem;
	padding-top: 0 !important;
}
.toolbar-menu-administration {
	display: flex;
	position: fixed;
	top: auto;
	width: 4.5rem;
	height: 100vh;
	max-width: calc(100% - 2.4375rem);
	background: var(--classic-bg-background);
	transition: all 0.3 ease-in-out;
	padding-top: 1.5rem;
	border-right: 1px solid #ddd;
	& > .toolbar-menu {
		align-self: flex-start;
    height: 100%;
    max-height: calc(100% - 4.125rem);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
		background: transparent;
		width: 4rem;
		& > li.menu-item {
			border: none !important;
			background: transparent;
			padding: 10px 0;
			& > .toolbar-icon {
				font-size: var(--classic-font-size);
				font-weight: var(--classic-font-weight-normal);
				letter-spacing: -0.0125rem;
				color: var(--classic-color-text);
				display: flex;
				align-items: center;
				width: 48px;
				height: 48px;
				overflow: hidden;
				padding-right: 0;
				margin: 0 auto;
				border-radius: 50%;
				transition: all 0.3s ease-in-out;
				padding-left: 3rem;
				&::before {
					width: 1.5rem;
					left: 50%;
					margin-left: -10px;
				}
				&:hover {
					background: var(--classic-bg-background);
					&::before {
						filter: brightness(2);
					}
				}
			}
		}
		.toolbar-menu {
			background: --classic-bg-white;
			& > .menu-item--expanded {
				background-color: --classic-bg-white;
			}
			& > .menu-item {
				border: none;
				border-bottom: 1px solid var(--classic-bg-background);
				margin-right: 0.5rem;
				&:first-child {
					border-top: none;
				}
			}
		}
	}
}

.toolbar-menu {
	li.menu-item--expanded.hover-intent ul {
		left: 65px;
		top: 0;
		position: fixed;
		height: 100%;
		padding-top: 1.5rem;
		li.menu-item--expanded ul {
			margin-top: 0;
		}
	}
}

.toolbar .toolbar-bar {
	box-shadow: none;
	border: none;
}

.menuIcon {
	position: absolute;
	top: 10px;
  right: 15px;
	display: none;
	.bar1, 
	.bar2, 
	.bar3 {
		width: 35px;
		height: 4px;
		background-color: #333;
		margin: 6px 0;
		transition: 0.4s;
	}
}

.slideMenu {
	.bar1 {
		transform: translate(0, 11px) rotate(-45deg);
	}
	.bar2 {opacity: 0;}
	.bar3 {
		transform: translate(0, -11px) rotate(45deg);
	}
}

@media only screen and (max-width: 1023px) {
	.toolbar .toolbar-tray-vertical {
		background-color: transparent;
		box-shadow: none;
		border: none;
		position: relative;
		overflow: hidden;
	}
	body {
		padding-top: 60px !important;
	}
	.menuIcon {
		display: block;
	}
	.toolbar-menu-administration {
		width: 20rem;
		display: block;
		background: var(--classic-bg-background);
	}
	.toolbar-menu-administration > .toolbar-menu > li.menu-item {
		width: auto;
	}
	.toolbar-menu-administration {
		width: 14rem;
		& > .toolbar-menu {
			width: 14rem;
		}
	}
	body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
		margin-left: 0;
	}
	.toolbar .toolbar-tray-vertical.is-active, body.toolbar-fixed .toolbar .toolbar-tray-vertical {
		left: -100%;
	}
	.slideMenu {
		&.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
			margin-left: 15rem;
		}
		.toolbar .toolbar-tray-vertical.is-active, body.toolbar-fixed .toolbar .toolbar-tray-vertical {
			left: 0;
		}
	}
}
@media only screen and (max-width: 767px) {
	.slideMenu {
		.toolbar-oriented .toolbar-tray-vertical {
			left: 0;
			display: block;
		}
	}
}