@import "base/variable";

body {
  background-color: var(--classic-bg-background);
  color: var(--classic-color-text);

  & .claro-details {
    background-color: var(--classic-bg-background);    
    color: var(--classic-color-text);
  }
}
