@import "base/variable";

a, 
.link {
	color: var(--classic-color-text);
	transition: all 0.3s ease-in-out;
	&:hover,
	&:focus {
		color: var(--classic-color-text);
	}
}

input[type="checkbox"]:checked {
	border-color: var(--classic-bg-background);
	background-color: var(--classic-bg-background);
	transition: all 0.3s ease-in-out;
	&:hover,
	&:focus {
		background-color: var(--classic-bg-background);
		box-shadow: none;
		border: none;
	}
}
.button {
	&.button--primary {
		border-color: var(--classic-bg-background);
		background-color: var(--classic-bg-background);
		transition: all 0.3s ease-in-out;
		color: var(--classic-color-text);
		&:hover,
		&:focus {
			background-color: var(--classic-bg-background);
			box-shadow: none;
			border: none;
			color: var(--classic-color-text);
		}
	}
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	border-color: var(--classic-bg-background);
	background-color: var(--classic-bg-background);
	color: var(--classic-bg-white);
	transition: all 0.3s ease-in-out;
	&:hover,
	&:focus {
		background-color: var(--classic-bg-background);
		color: var(--classic-color-text);
	}
}
