.messages-list {
	.messages--warning {
		background-color: var(--classic-waring-message);
	}
	.messages--status {
		background-color: var(--classic-status-message);
	}
	.messages--error {
		background-color: var(--classic-error-message);
	}
}