@import "base/variable";


.is-horizontal {
	.tabs {
		.tabs__link {
			&.is-active {
				color: var(--classic-color-text);
				&::before {
					border-bottom: 3px solid  var(--classic-bg-background);
				}
			}
			&:hover,
			&:focus {
				color: var(--classic-color-text);
				background-color:  var(--classic-bg-background);
			}
		}
	}
}