/* line 1, ../../sass/base/variable.scss */
:root {
  --classic-bg-white: #fff;
  --classic-color-text: #222330;
  --classic-bg-menu: #bad7fc;
  --classic-bg-background: #7eb7ff61;
  --classic-border-grey: var(--classic-bg-white);
  --classic-green-bg: #8bc34a;
  --classic-green-bg-hover: #d4edb7;
  --classic-green-text: #8bc34a;
  --classic-green-hover-text: #4caf50;
  --classic-light-green-hover: #d4edb7;
  --classic-shadow-grey: #b3b3b3;
  --classic-font-size-xxs: .75rem;
  --classic-font-size-s: .875rem;
  --classic-font-size: 1rem;
  --classic-font-size-m: var(--classic-font-size);
  --classic-font-size-l: 1.125rem;
  --classic-font-size-xl: 1.25rem;
  --classic-font-size-h3: 1.5rem;
  --classic-font-size-h2: 1.75rem;
  --classic-font-size-h1: 1.6rem;
  --classic-font-weight-normal: 400;
  --classic-font-weight-semibold: 600;
  --classic-font-weight-bold: 700;
  --classic-waring-message: #927001;
  --classic-status-message: #1a4727;
  --classic-error-message: #6f0101;
}
